{{#page section="Atoms" title="Backgrounds" }}

  {{{atom-header
    title="Attachment"
    source="/src/styles/atoms/backgrounds/attachment.styl"
    descr="Controls how a background is attached (fixed, scroll with element, scroll with page"
  }}}

  {{{atom-header
    title="Colors"
    source="/src/styles/atoms/backgrounds/colors.styl"
    descr="Control background colors."
  }}}

{{#example}}
  {{#col-4}}
    <div class="bg-color-primary" style="height:5rem"></div>
      <p>.bg-color-primary</p>
  {{/col-4}}
  {{#col-4}}
      <div class="bg-color-primary" style="height:5rem"></div>
      <p>.bg-color-primary</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-primary-l" style="height:5rem"></div>
      <p>.bg-color-primary-l</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-primary-xl" style="height:5rem"></div>
      <p>.bg-color-primary-xl</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-secondary" style="height:5rem"></div>
      <p>.bg-color-secondary</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-success" style="height:5rem"></div>
      <p>.bg-color-success</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-danger" style="height:5rem"></div>
      <p>.bg-color-danger</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-warn" style="height:5rem"></div>
      <p>.bg-color-warn</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-white border-color-light-grey border-size-xs border-style-solid" style="height:5rem"></div>
      <p>.bg-color-white</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-black" style="height:5rem"></div>
      <p>.bg-color-black</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-grey" style="height:5rem"></div>
      <p>.bg-color-grey</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-grey-l" style="height:5rem"></div>
      <p>.bg-color-grey-l</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-light-grey" style="height:5rem"></div>
      <p>.bg-color-light-grey</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-light-grey-l" style="height:5rem"></div>
      <p>.bg-color-light-grey-l</p>
    {{/col-4}}
  {{#col-4}}
      <div class="bg-color-light-grey-xl" style="height:5rem"></div>
      <p>.bg-color-light-grey-xl</p>
    {{/col-4}}
{{/example}}
{{{atom-header
  title="Position"
  source="/src/styles/atoms/backgrounds/position.styl"
  descr="Control background position."
}}}

{{{atom-header
  title="Repeat"
  source="/src/styles/atoms/backgrounds/repeat.styl"
  descr="Control background repeat."
}}}

{{{atom-header
  title="Size"
  source="/src/styles/atoms/backgrounds/size.styl"
  descr="Control background size."
}}}
{{/page}}

